<footer>
    <div class="wrapper">
        <p class="about hideMobile">
            <%= description %>
            <br/>
            Mexico City <%= year %>
    </p>
    <ul class="social">
        <li><a rel="noopener noreferrer" target="_blank" href="mailto:<%= mail %>" class=""><i class="fa fa-envelope-o"></i></a></li>
        <li><a rel="noopener noreferrer" target="_blank" href="<%= twitter %>" class=""><i class="fa fa-twitter"></i></a></li>
        <li><a rel="noopener noreferrer" target="_blank" href="<%= github %>" class=""><i class="fa fa-github"></i></a></li>
        <li><a rel="noopener noreferrer" target="_blank" href="<%= linkdn %>" class=""><i class="fa fa-linkedin"></i></a></li>
    </ul>
</div>
</footer>
    <script src="/js/bundle.js"></script>
    <script>
    // WARNING: See the following for security issues around embedding JSON in HTML:
    // http://redux.js.org/docs/recipes/ServerRendering.html#security-considerations
    window.__PRELOADED_STATE__ = <%-JSON.stringify(state)%>
        </script>
    </body>
</html>
